<div class="row">
    <div class="col-md-12">
        <div class="p font-elements">
            Som psykomotorisk kropsterapeut skaber jeg et rum, 
            hvor du kan arbejde med at finde hjem til dig selv og lande i din krop. <br>
            Jeg hjælper dig med at forstå alt det der sker inden i dig,<br> <br>
            Jeg hjælper dig igennem: <br>
            <ul>
                <li>Dødsfald</li>
                <li>Chok</li>
                <li>Kriser</li>
                <li>Traumer</li>
                <li>Ufrivillig og frivillig abort</li>
                <li>Dødsfødsel</li>
            </ul> <br>
            Jeg hjælper dig med at:
            <ul>
                <li>Bearbejde din sorg fysisk og psykisk</li>
                <li>Forstå hvad der sker i dit liv og skabe mening</li>
                <li>Finde vej igennem sorgen og ud mod livet igen</li>
                <li>Finde troen på livet igen</li>
                <li>Leve videre med din afdøde og jeres minder</li>
                <li>Håndtere kriser og traumer</li>
                <li>Finde mere fred i din krise</li>
            </ul> <br>
            Fordi sorg både er den fysiske og psykiske reaktion på tab, 
            er det vigtigt at arbejde både kropsligt og mentalt i bearbejdelsen af sorg.
            <ul>
                <li>
                    I sorg reagerer man både fysisk og psykisk. 
                    Det vil sige at du både kan få fysiske og psykiske sorgsymptomer.
                </li>
            </ul> 
            <br>
            Hjemmebehandling så du slipper for at forlade dit hjem under din sorg 
            <br>
            Sorg er en tung vægt at bære alene og det er afgørende for ens sorgproces, at man har nogen at
            dele sin sorg med. Det kan være komplekst og problematisk at dele sine tanker og følelser med
            venner og familie, fordi tankerne og følelserne kan være forbundet med skam, had,
            selvdestruktivitet, eller være sårende overfor dem som gerne vil være der for en. Det kan være
            svært for dine nærmeste at rumme den dybe sorg, du bære rundt på.
            <br>
            Det er helt normalt, at en sorgreaktion er så voldsom, at man får brug for hjælpe til at tackle den.
            Jeg hjælper dig ikke med at komme videre eller komme over sorgen, men jeg hjælper dig med at
            kunne lære at leve med sorgen.
            <br>
            Som sorgterapeut er min vigtigste opgave at skabe et rum, hvor du føler dig tryg og
            imødekommet. Jeg har selv siddet i dit sted og jeg har en stor ydmyghed over at hjælpe dig
            igennem det måske værste du har gået igennem. Jeg tilbyder dig et rum, hvor der er plads til at du
            kan mærke sorgen og lære den at kende. Igennem bearbejdelsen af dine sorgfyldte følelser kan du
            finde ro og dermed blive bedre til at håndtere din sorg. 
        </div>
    </div>
</div>