<div class="container">
  <div class="row">
    <div class="col py-2">
      <div class="h1 text-center">Kropsterapi</div>
    </div>
  </div>
  <div class="row py-2">
    <div class="col">
      <img
        src="https://db3pap005files.storage.live.com/y4ms4vjsl8EzUHJom3Ns4Wxvkhyra9yy1MGyk_Y0OXKSdIl-cyT1IUzvl-AAEOu9Q4Z7a6ExT3Gs6UM5DgReLdZeDVzd4wLBJcDEAzLMQu2-XtzcdRiESrVuS9KTcx6h0O0IPZmt0Ug-tTT_2CVVPAVWlvF4D5Pc_HrLwnSBNNRZmjSRDDyvQm_XH-9VHMmRf8W?width=495&height=660&cropmode=none"
        class="img-fluid mx-auto float-end"
        alt="Image missing"
      />
    </div>
    <div class="col">
      <img
        src="https://db3pap005files.storage.live.com/y4m5DV11aNYz7J8NNe9I5adNe2fKBlX-JEGW3u2blOBb_qL2PLmPV4QwEBlEzdq1GA9mVwTUao0IttZyO-wQS99xVz4D0IPdl3R8J9kcOE2jM1p93twJBiMC6EeWS5xUrDQEa_4OIW4M7Pk7SJhwIpv8bEETdty3LmFPlpsR3572jh0W4CNPy1Gmx_Nn8lG_1Sq?width=495&height=660&cropmode=none"
        class="img-fluid mx-auto float-start"
        alt="Image missing"
      />
    </div>
  </div>
  <div class="row m-5">
    <div class="col text-center">
      <div class="h3">Hvad er psykomotorisk kropsterapi</div>
      <div class="p font-elements">
        Som psykomotorisk kropsterapeut skaber jeg et rum, hvor du kan arbejde
        med at finde hjem til dig selv og lande i din krop. Jeg hjælper dig med
        at forstå alt det der sker inden i dig. <br />
        <br />
        Igennem kropsterapien får du mulighed for at udforske dine grundlæggende
        mønstre, tanker, følelser, værdier, behov, og selvbilleder som har
        forankret sig i din krop. Igennem kropsterapi, kropsøvelser og dialog
        får du mulighed for at blive bevidst om hvad det betyder for relationen
        til dig selv og til andre. <br />
        <br />
        Hos mig er du i centrum – ikke en diagnose eller en sygdom, kun dig.
        Sammen tager vi udgangspunkt i de ressourcer og muligheder du har den
        pågældende dag. <br />
        <br />
        <div class="p fw-bold">Igennem psykomotorisk kropsterapi bliver du bedre til at:</div>
        <ul class="list-unstyled">
            <li>Lytte og tolke de signaler som kroppen sender</li>
            <li>Omsætte tanker og følelser til hensigtsmæssige handlinger</li>
            <li>Blive bevidst om dine grænser og muligheder</li>
        </ul>
        <br />
        Når vi begynder at kunne mærke os selv, så kan vi begynde at tage ansvar
        for vores indre liv. <br />
        <br />
        Først når du får øje på og anderkender de gamle spor som dit sind har
        rodfæstet i kroppen uden at skulle navigere efter dem, skaber vi
        mulighed for at vi kan ændre den måde vi er i livet på. <br />
        <br />
      <div class="h3">Praktisk om psykomotorisk kropsterapi:</div>
        Vi starter altid med en samtale om hvordan du har det, fysisk og
        psykisk, samt hvad du ønsker at få ud af den psykomotoriske kropsterapi.
        <br />
        <br />
        Herefter foregår behandlingen på en madras på gulvet, fuld påklædt.
        Behandlingen kan starte eller blive efterfulgt af en kroplig øvelse.
        <br />
        <br />
        Under behandlingen har vi løbende en dialog, hvor det bliver muligt at
        få øje på sammenhængen mellem mentale, fysiske og følelsesmæssige
        tilstande og deres indvirkning på hinanden og derigennem skabe
        forbindelse mellem hoved og krop. <br />
        <br />
        Vi arbejder sammen på at skabe større opmærksomhed og nærvær i kroppen,
        så du bliver bevidst om den dybere sammenhæng mellem krop og psyke. Vi
        arbejder med det som er nu, og måske også det der har været
        tilbageholdt. På den måde har du mulighed for at åbne op og få kontakt
        til dig selv igen, så stærkere i dig selv, mærke dine grænser, finde
        dine ressourcer og mere naturligt give udtryk for det der lever og ske i
        dig. <br />
      </div>
    </div>
  </div>
</div>
