<div class="row w-100 px-0 mx-0">
    <div class="col px-0">
        <img src="..\assets\Dog.jpg" class="img-fluid w-100" style="max-height: 500px;" alt="img missing">
    </div>
</div>
<div class="container">
    <div class="row w-100 px-0 py-5 justify-content-md-center">
        <div class="col-md-6 px-0">
            <div class="h4 text-center font-elements">Skriv eller ring til mig</div>
            <div class="p text-center font-elements">
                Hvis du har spørgsmål vedrørende behandling eller ønsker at booke en tid,
                så er du meget velkommen til at kontakte mig via opkald, sms, eller mail.
            </div>
            <br>
            <br>
            <div class="h5 text-center font-elements">Juliehoejbjerg@hotmail.dk</div>
            <div class="h5 text-center font-elements">+45 40 10 59 04</div>
            <br>
            <div class="h6 text-center font-elements">Jeg ser frem til at høre fra dig.</div>
        </div>
    </div>
</div>