<div class="row justify-content-md-center">
    <div class="col-md-12">
        <div class="h3 text-center">
            Info og priser
        </div>
        <br>
        <br>
        <div class="p text-center">
            Ved første psykomotoriske kropsterapi på 60 minutter 500 kr.
            <br>
            <br>
            Psykomotorisk kropsterapi 60 minutter 700 kr.
            <br>
            <br>
            Psykomotorisk kropsterapi 90 minutter 900 kr. 
        </div>
        <br>
        <br>
        <div class="h5 text-center">Betaling</div>
        <div class="p text-center">Jeg modtager mobilepay eller kontant.</div>
        <br>
        <br>
        <div class="h5 text-center">Afbud/ udeblivelse</div>
        <div class="p text-center">
            Afbud skal gives telefonisk senest 24 timer før din tid – indtal gerne en telefonsvarer besked.
            <br>
            Udeblivelse eller afbud senere end 24 timer før den aftalte tid, afregnes ved at betale 50 % af prisen. 
        </div>
    </div>
</div>