

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/">Forside</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/bodytherapy">Kropsterapi</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/about">Om mig</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/prices">Info og priser</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/contact">Kontakt</a>
  </li>
</ul>