<ul class="nav nav-tabs">
  <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/">Forside</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="/bodytherapy">Kropsterapi</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="/about">Om mig</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="/prices">Info og priser</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="/contact">Kontakt</a>
  </li>
</ul>