<div class="row w-100 px-0 mx-0">
  <div class="col px-0">
      <img src="..\assets\Clouds.svg" class="img-fluid w-100" alt="img missing">
  </div>
</div>
<div class="container">
  <div class="row w-100 px-0 py-5">
    <div class="col-md-6 px-0">
      <p class="h3">Hvem er jeg</p>
      <p class="h4 font-elements">Jeg er uddannet:</p>
      <ul>
        <li class="font-elements">Psykomotorisk terapeut | VIA University College, Randers, 2018 – 2022</li>
        <li class="font-elements">Certificeret kostvejleder med speciale i plantebaseret kost, 2021</li>
        <li class="font-elements">Psykomotorisk personlig træner, 2021 </li>
      </ul>
      <p class="p font-elements">
        Igennem min uddannelse har jeg specialiseret mig inden for fødselsområdet.
        I mit bachelorprojekt skrev jeg om emnet: Når stress bliver en del af graviditeten,
        og under min praktik på afdelingen for Kvindesygdomme og Fødsler på Regionshospitalet Horsens, varetog jeg:
      </p>
      <ul>
        <li class="font-elements">Efterfødselsreaktionssamtaler</li>
        <li class="font-elements">Sorg- og krisesamtaler samt behandlinger</li>
        <li class="font-elements">Individuelle behandlingsforløb, fødselsforberedelse for par, samt graviditetstræning
        </li>
        <li class="font-elements">At støtte fødende kvinder under deres aktive fødsel</li>
        <li class="font-elements">Traumebehandling af tidligere fødselstraumer</li>
      </ul>
      <div class="p font-elements">
        Jeg er underviser hos FOF i Aarhus og Fysiobootcamp i Randers, hvor jeg underviser på
        efterfødselshold, graviditetshold, træningshold samt babymotorik hold.
      </div>
    </div>
    <div class="col-md-6 px-0">
      <div class="text-center">
        <img
          src="https://db3pap005files.storage.live.com/y4msNJp59d_IRmFk_9Ot2jGviwaCTChpUtGzBAuEx-5q7XGUzeS3RdZ7QT_2n-AGsBKryWyskWxGmpl1lyXjBKGO230IDfwsTjMGtrAydzIxwKrCtH1kaetxqoR3PjOEJ7oFPZ0_qdgovm0mfl_yOkJJkM1ykFToJTtTkxD12AZgpPGsfYkpTIbHrwEADnrFljZ?width=170&height=256&cropmode=none"
          class="img-fluid" alt="Billede">
      </div>
    </div>
  </div>
</div>