<div class="row" style="background-color: blue">
  <div class="col"></div>
</div>
<div class="row" style="background-color: red">
  <div class="col-md-12">
    <p class="h3 text-center">
        Skriv til mig
    </p>
    <p class="h5 text-center">
        Du er meget velkommen til at kontakte mig via  opkald, sms, eller mail 
        og det kan gøres på en af nedenstående muligheder. Jeg ser frem til at høre fra dig. 
    </p>
    <p class="h2 text-center">
        minemail@mail.com   +45 88 88 88 88
    </p>
  </div>
</div>
<div class="row" style="background-color: chartreuse">
  <div class="col-md-2">
    <p class="text-left">Hjemme</p>
  </div>
</div>
