<div class="container-fluid px-0 py-0">
  <div class="row mb-1">
    <div class="col px-0 text-center">
      <img src="https://db3pap005files.storage.live.com/y4mxiCdsfCOvxnH9CJyn714AnVnYMZ7jP5EFFkkg9EKS9oFpfkz8BEZNEtUYkJb4DBNBGlPRmc1E7UFlBNxuYnvOViHQYelTw6PeZ9ACWMsD94tOgEdlJbfcleiq0rGM_npJGBopd9_l_3_AJo0xc5VIRCHYdpZiWe-D6YdQyxtovJX_n2OtpzAml40idOIVOe4?width=1440&height=1080&cropmode=none" 
      class="img mx-auto"
      width="100%"
      height="1000em"
      style="object-fit: fill;"
      alt="Image missing" />
    </div>
  </div>


  <div class="row mb-1">
    <div class="col my-5 text-center">
      <img src="https://db3pap005files.storage.live.com/y4mxiCdsfCOvxnH9CJyn714AnVnYMZ7jP5EFFkkg9EKS9oFpfkz8BEZNEtUYkJb4DBNBGlPRmc1E7UFlBNxuYnvOViHQYelTw6PeZ9ACWMsD94tOgEdlJbfcleiq0rGM_npJGBopd9_l_3_AJo0xc5VIRCHYdpZiWe-D6YdQyxtovJX_n2OtpzAml40idOIVOe4?width=1440&height=1080&cropmode=none" 
      class="img mx-auto"
      width="100%"
      height="1000em"
      style="object-fit: cover;"
      alt="Image missing" />
    </div>
  </div>
  <div class="row mb-1">
    <div class="col px-0 text-center">
      <img src="https://db3pap005files.storage.live.com/y4mxiCdsfCOvxnH9CJyn714AnVnYMZ7jP5EFFkkg9EKS9oFpfkz8BEZNEtUYkJb4DBNBGlPRmc1E7UFlBNxuYnvOViHQYelTw6PeZ9ACWMsD94tOgEdlJbfcleiq0rGM_npJGBopd9_l_3_AJo0xc5VIRCHYdpZiWe-D6YdQyxtovJX_n2OtpzAml40idOIVOe4?width=1440&height=1080&cropmode=none" 
      class="img mx-auto"
      width="100%"
      height="1000em"
      style="object-fit: contain;"
      alt="Image missing" />
    </div>
  </div>

  <div class="row carousel">
    <div class="col">
      <div
        id="carouselExampleSlidesOnly"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner text-center">
          <div class="carousel-item active">
            <div class="p">
              Jeg har fået behandling af Julie, hvor vi gennemgik, hvad jeg
              tumler med for tiden. Så gik hun igang, med behagelige teknikker
              og meget afslappet atmosfære. <br />
              <br />
              Julie var meget lyttende, og brugte de helt rigtig spørgsmål, så
              jeg fik sat ord på nogle tanker og sagt højt, hvad jeg har gået
              med den seneste tid. <br />
              <br />
              Jeg har prøvet andre slags behandlinger før, men den oplevelse jeg
              havde med Julie under behandlingen, har jeg aldrig prøvet før. Jeg
              har stadig svært ved at sætte helt nøjagtig ord på, hvad der
              skete.
              <br />
              Men efterfølgende har jeg fået åbnet op omkring nogle af tingene
              overfor mine nærmeste og kan igen trække været med maven! <br />
              <br />
              Det er ikke sidste gang, jeg har været ved Julie. <br />
              - Karina
            </div>
          </div>
          <div class="carousel-item">
            <div class="p">Flere udtalelser tbd.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
