<div class="row w-100 px-0 mx-0">
    <div class="col px-0">
        <img src="..\assets\Clouds.svg" class="img-fluid w-100" alt="img missing">
    </div>
</div>
<div class="container">
    <div class="row w-100 px-0">
        <div class="col-md-12 px-0 text-center">
            <div class="h3">Julie Højbjerg</div>
            <div class="h4">Psykomotorisk kropsterapi</div>
            <div class="p">Jeg hjælper dig med at finde hjem til dig selv</div>
        </div>
    </div>
    <div class="row py-5" style="background-color: grey;">
        <div class="col-md">
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="h5 text-center">TEST1</div>
                    </div>
                    <div class="carousel-item">
                        <div class="h5 text-center">TEST2</div>
                    </div>
                    <div class="carousel-item">
                        <div class="h5 text-center">TEST3</div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>